.loader-wrapper.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-color: $colorGrayTransparent;

  .loader-svg {
    display: inline-block;
  }
}

svg.loader-svg {
  display: none;
  width: 100px;
  height: 100px;
  margin: 20px;
}
