include ../components/head/head
include ../components/header/header.pug

doctype html
html(lang="ru")
    +head({ "title": "Movie Search", "description": "Поиск кино" })
        link(rel="stylesheet" href="styles/index.css")
        link(rel="stylesheet" href="/libs/swiper/css/swiper.min.css")
    body.page-home
            +header()
            main(id='contentContainer')
                form(id="searchMovie").search-form
                    input(type='text' placeholder='Search movie' autocomplete="off").search-input
                    button(type='submit').search-button Search
                    button(type='reset').delete-button X
                    .results No results
                .section-with-slider.swiper-container#movieSlider
                    .swiper-button-prev
                    .swiper-button-next
                    .swiper-wrapper
                    .swiper-pagination

            footer
                .footer-container
                    a(href="https://rs.school/") RS School 2020q1
                    a(href="#") MariannaV

    script(type='module' src='/js/pages/common.js' defer)