include ../components/head/head
include ../components/header/header.pug
include ../components/form/search-form.pug
include ../components/slider/index.pug
include ../components/popup/index.pug
include ../components/footer/index.pug

doctype html
html(lang="ru")
    +head({ "title": "Movie Search", "description": "Поиск кино" })
        link(rel="stylesheet" href="/libs/swiper/css/swiper.min.css")
        link(rel="stylesheet" href="styles/index.css")
    body.page-home
            +header()
            main(id='contentContainer').wrapper-container
                section
                    +search-form()
                    .results
                .section-with-slider
                    +slider({id : 'movieSlider'})
                +popup({class: 'errors-block', text: 'error'})
            +footer()

    script(type='module' src='/js/pages/common.js' defer)
