mixin search-form
    form(id="searchMovie").search-form
        .search-wrapper
            input(type='text' placeholder='Search movie' autocomplete="off" autofocus).search-input
            button(type='reset').delete-button
        button(type='submit').search-button Search




