.popup-container {
  display: none;
  background-color: color($colorBlueDark a(85%));
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;

  &.active {
    display: block;
  }

  .popup-text {
    display: block;
    padding: 0 20px;
  }

  .close-popup {
    position: absolute;
    right: 10px;
    top: 10px;
    background-size: 24px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px;
    background-image: url('/assets/img/icons/reset-button-icon.svg');
    cursor: pointer;
    @media (--min-desktop-big) {
      padding: 1.7vw;
      background-size: 1.7vw;
    }
  }
}

.popup-block {
  position: fixed;
  top: 50vh;
  left: 50%;
  width: 85vw;
  max-width: 600px;
  height: 80vh;
  max-height: 400px;
  padding: 20px;
  border: 1px solid;
  border-radius: 5px;
  color: $colorBlueDark;
  background-color: $colorWhite;
  transform: translate(-50%, -50%);
  @media (--min-desktop-big) {
    max-width: 42vw;
    max-height: 28vw;
    padding: 1.6vw;
  }
}
