/*----------COLORS----------*/

$colorWhite: rgb(255, 255, 255);
$colorWhiteTransparent3: rgba(255, 255, 255, 0.3);
$colorWhiteTransparent7: rgba(255, 255, 255, 0.7);
$colorGrayLight: rgba(163, 176, 187);
$colorBlue: rgb(174, 196, 216);
$colorBlueTransparent6: rgba(0, 157, 190, 0.6);
$colorBlueDark: rgb(44, 62, 80);
$colorBlueDarkTransparent85: rgb(44, 62, 80, 0.85);

/*----------SCREEN SIZES----------*/
$tablet-small: 550px;
$tablet-medium: 900px;
$desktop-small: 1250px;
$desktop-big: 1440px;

/*----------THEMES----------*/

$linearGradientBlue: linear-gradient(
  90deg,
  rgba(0, 157, 190, 0.4) 15%,
  rgba(0, 187, 207, 0.65) 46%,
  rgba(0, 152, 234, 0.65) 71%
);

/*----------FONTS----------*/

$fontSizeSmall: 1em;
$fontSize: 1em;
$fontSizeBig: 1.3vw;
