mixin footer
    footer.footer
        .footer-container.wrapper-container
            a(href="https://rs.school/" target='_blank') RS School 2020q1
            a.github(href="https://github.com/MariannaV" target='_blank') MariannaV
