footer {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  background: $colorBlueTransparent6;
  background: $linearGradientBlue;
  color: $colorWhite;
}

.footer-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  @media (max-width: 374px) {
    flex-direction: column;
    text-align: center;
  }
}
