include ../loader/index.pug

mixin slider(data)
    .slider
        +loader()
        .swiper-navigation-buttons
            .swiper-button-prev
            .swiper-button-next
        .swiper-container(id=data.id)
            .swiper-wrapper
        .swiper-pagination
